$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


// .image1 {
//   background: url('./images/imagesa.jpg');
//   // background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100%;
//   margin: 0 auto;
//   padding: 24px;
//   text-align: center;
//   width: 100%;
//   z-index: -2;
// }
.add {
  float: right;
}
